<html>
<head>
</head>
<body>
  <h1></h1>
  <form method="POST">
    <a href="/admin/forms">&larr; Back</a><input type="submit" name="submit" value="Submit" style="float: right" />
    <br>
    <textarea name="data" style="width: 100%; height: 20em"><%=form %></textarea>
  </form>
</body>
</html>
